header.svelte-spgitk{display:flex;justify-content:center;align-items:center}img.svelte-spgitk{max-width:150px;height:auto}a.svelte-spgitk{padding:0 10px;text-decoration:none}footer.svelte-1msqfk4{display:flex;justify-content:center;align-items:center}a.svelte-1msqfk4{padding:0 10px;text-decoration:none}a.svelte-1msqfk4:visited{color:black}a.svelte-1msqfk4:hover{color:#16b7ff}body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
}
a{
    text-decoration: none;
}

a:hover {
    color:#16b7ff;
}

time{
    color: #16b7ff
}

small time {
    font-size: 12px;
    padding-left: 8px;
}

main.svelte-1h0l6ga{max-width:800px;margin:0 auto;padding:0 20px}