header.svelte-qiytji{display:flex;justify-content:center;align-items:center}img.svelte-qiytji{max-width:125px;max-height:125px}a.svelte-qiytji{padding:0 10px;text-decoration:none}footer.svelte-1l62iwt{display:flex;justify-content:center;align-items:center;margin-bottom:40px}a.svelte-1l62iwt{padding:0 10px;text-decoration:none}a.svelte-1l62iwt:visited{color:black}a.svelte-1l62iwt:hover{color:#16b7ff}body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    font-size: 20px;
}
a{
    text-decoration: none;
}

a:hover {
    color:#16b7ff;
}

time{
    color: #16b7ff
}

li{
    margin-bottom: 10px;
}

small time {
    font-size: 12px;
    padding-left: 8px;
}

@media screen and (max-width: 768px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media only screen and (max-width: 600px) {
    body {
        padding-left: 50px;
    }
  }main.svelte-l1wuoe{max-width:800px;margin:0 auto}